{
    "extends": "airbnb-base",
    "plugins": [
        "html",
        "import"
    ],
    "env": {
        "browser": true
    },
    "rules": {
        "no-param-reassign": [
            "error",
            {
                "props": true,
                "ignorePropertyModificationsFor": [
                    "state"
                ]
            }
        ],
        "max-len": [
            "error",
            200
        ]
    },
    "settings": {
        "html/html-extensions": [
            ".vue"
        ]
    }
}