/*Sass function that converts pixel values to rem
Example: rem(36) for the rem equivalent of 36px
Compiles to 2.4rem*/
.menu {
  z-index: 1;
  background-color: #111;
  overflow: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  margin: 0;
  padding: 0;
  position: fixed;
  bottom: 0;
  height: 7%;
  width: 100%;
}

.transparent_non-menu_layer {
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.7);
  margin: 0;
  padding: 0;
  position: fixed;
  bottom: 0;
  height: 100%;
  width: 100%;
}

.menu_links {
  color: white;
  text-decoration: none;
  font-size: 2.5vh;
  font-family: sans-serif;
  margin: 0;
  text-decoration: none;
  text-align: center;
  padding: .75% .75% .75% .75%;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.menu_links:hover {
  opacity: 0.5;
}

.faculty_links {
  color: white;
  text-decoration: none;
  font-size: 3vh;
  font-family: sans-serif;
  font-weight: bold;
  margin: 0;
  padding: 1%;
  text-align: center;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.extra_padding {
  padding-bottom: 5%;
}

.menu .closebtn {
  position: absolute;
  top: 0;
}

.bottom-nav__profile-pic {
  height: 2.2rem;
}

.theme-login body {
  background-color: #FFFFFF;
  color: #464646;
  padding-top: 2.4rem;
}

.theme-main body {
  background-color: #E5E5E5;
  color: #464646;
  padding-top: 2.4rem;
}

.theme-bluesTheme body {
  background-color: #d9e7ee;
  color: #575757;
  padding-top: 2.4rem;
}

.theme-Cloudy body {
  background-color: #D8D8D8;
  color: #464646;
  padding-top: 2.4rem;
}

.theme-OnceAMatadorAlwaysAMatador body {
  background-color: #FFFFFF;
  color: #464646;
  padding-top: 2.4rem;
}

.theme-Dark body {
  background-color: #272727;
  color: #bababa;
  padding-top: 2.4rem;
}

.theme-login html * {
  font-size: 1.1rem;
  font-family: sans-serif;
  color: #FFFFFF;
}

.theme-main html * {
  font-size: 1.1rem;
  font-family: helvetica;
  color: #E5E5E5;
}

.theme-bluesTheme html * {
  font-size: 1.1rem;
  font-family: sans-serif;
  color: #d9e7ee;
}

.theme-Cloudy html * {
  font-size: 1.1rem;
  font-family: sans-serif;
  color: #D8D8D8;
}

.theme-OnceAMatadorAlwaysAMatador html * {
  font-size: 1.1rem;
  font-family: sans-serif;
  color: #FFFFFF;
}

.theme-Dark html * {
  font-size: 1.1rem;
  font-family: sans-serif;
  color: #272727;
}

textarea[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 12px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

textarea[type="text"]:focus {
  border: 3px solid lightblue;
}

.theme-login .primary-nav {
  background-color: #D00D2D;
  width: 100%;
  height: 2.46666667rem;
  top: 0%;
  position: fixed;
}

.theme-login .primary-nav__sub-brand {
  color: #FFFFFF;
}

.theme-main .primary-nav {
  background-color: #0F1821;
  width: 100%;
  height: 2.46666667rem;
  top: 0%;
  position: fixed;
}

.theme-main .primary-nav__sub-brand {
  color: #E5E5E5;
}

.theme-bluesTheme .primary-nav {
  background-color: #0D3753;
  width: 100%;
  height: 2.46666667rem;
  top: 0%;
  position: fixed;
}

.theme-bluesTheme .primary-nav__sub-brand {
  color: #d9e7ee;
}

.theme-Cloudy .primary-nav {
  background-color: #747474;
  width: 100%;
  height: 2.46666667rem;
  top: 0%;
  position: fixed;
}

.theme-Cloudy .primary-nav__sub-brand {
  color: #D8D8D8;
}

.theme-OnceAMatadorAlwaysAMatador .primary-nav {
  background-color: #D22030;
  width: 100%;
  height: 2.46666667rem;
  top: 0%;
  position: fixed;
}

.theme-OnceAMatadorAlwaysAMatador .primary-nav__sub-brand {
  color: #FFFFFF;
}

.theme-Dark .primary-nav {
  background-color: #1D1D1D;
  width: 100%;
  height: 2.46666667rem;
  top: 0%;
  position: fixed;
}

.theme-Dark .primary-nav__sub-brand {
  color: #272727;
}

.theme-login .panel {
  border-radius: 3px;
  background-color: #F0F0F0;
  -webkit-box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.07);
          box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.07);
  border: none;
  margin-bottom: 1rem;
}

.theme-login .panel__img {
  height: auto;
  background-color: #F0F0F0;
}

.theme-login .panel__container {
  margin-bottom: 0.4rem;
}

.theme-login .panel__item {
  width: 100%;
  margin: 0;
}

.theme-login .panel__header {
  font-weight: bold;
  border-bottom: 0;
}

.theme-main .panel {
  border-radius: 3px;
  background-color: #F4F4F4;
  -webkit-box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.07);
          box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.07);
  border: none;
  margin-bottom: 1rem;
}

.theme-main .panel__img {
  height: auto;
  background-color: #F4F4F4;
}

.theme-main .panel__container {
  margin-bottom: 0.4rem;
}

.theme-main .panel__item {
  width: 100%;
  margin: 0;
}

.theme-main .panel__header {
  font-weight: bold;
  border-bottom: 0;
}

.theme-bluesTheme .panel {
  border-radius: 3px;
  background-color: white;
  -webkit-box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.07);
          box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.07);
  border: none;
  margin-bottom: 1rem;
}

.theme-bluesTheme .panel__img {
  height: auto;
  background-color: white;
}

.theme-bluesTheme .panel__container {
  margin-bottom: 0.4rem;
}

.theme-bluesTheme .panel__item {
  width: 100%;
  margin: 0;
}

.theme-bluesTheme .panel__header {
  font-weight: bold;
  border-bottom: 0;
}

.theme-Cloudy .panel {
  border-radius: 3px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.07);
          box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.07);
  border: none;
  margin-bottom: 1rem;
}

.theme-Cloudy .panel__img {
  height: auto;
  background-color: #FFFFFF;
}

.theme-Cloudy .panel__container {
  margin-bottom: 0.4rem;
}

.theme-Cloudy .panel__item {
  width: 100%;
  margin: 0;
}

.theme-Cloudy .panel__header {
  font-weight: bold;
  border-bottom: 0;
}

.theme-OnceAMatadorAlwaysAMatador .panel {
  border-radius: 3px;
  background-color: #F0F0F0;
  -webkit-box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.07);
          box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.07);
  border: none;
  margin-bottom: 1rem;
}

.theme-OnceAMatadorAlwaysAMatador .panel__img {
  height: auto;
  background-color: #F0F0F0;
}

.theme-OnceAMatadorAlwaysAMatador .panel__container {
  margin-bottom: 0.4rem;
}

.theme-OnceAMatadorAlwaysAMatador .panel__item {
  width: 100%;
  margin: 0;
}

.theme-OnceAMatadorAlwaysAMatador .panel__header {
  font-weight: bold;
  border-bottom: 0;
}

.theme-Dark .panel {
  border-radius: 3px;
  background-color: #303030;
  -webkit-box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.07);
          box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.07);
  border: none;
  margin-bottom: 1rem;
}

.theme-Dark .panel__img {
  height: auto;
  background-color: #303030;
}

.theme-Dark .panel__container {
  margin-bottom: 0.4rem;
}

.theme-Dark .panel__item {
  width: 100%;
  margin: 0;
}

.theme-Dark .panel__header {
  font-weight: bold;
  border-bottom: 0;
}

.panel__listing {
  margin: 0 auto;
}

.current_term {
  font-weight: bold;
  font-size: 1.6rem;
  margin-bottom: 0;
  margin-top: 0.833rem;
}

.theme-login .course_banner {
  color: #464646;
  margin-top: 0.833rem;
  margin-bottom: 0.833rem;
  padding: 10px 0;
}

.theme-main .course_banner {
  background-color: rgba(255, 255, 255, 0.5);
  color: #464646;
  margin-top: 0.833rem;
  margin-bottom: 0.833rem;
  padding: 10px 0;
}

.theme-bluesTheme .course_banner {
  background-color: rgba(255, 255, 255, 0.5);
  color: #575757;
  margin-top: 0.833rem;
  margin-bottom: 0.833rem;
  padding: 10px 0;
}

.theme-Cloudy .course_banner {
  background-color: rgba(255, 255, 255, 0.5);
  color: #464646;
  margin-top: 0.833rem;
  margin-bottom: 0.833rem;
  padding: 10px 0;
}

.theme-OnceAMatadorAlwaysAMatador .course_banner {
  background-color: rgba(0, 0, 0, 0.05);
  color: #464646;
  margin-top: 0.833rem;
  margin-bottom: 0.833rem;
  padding: 10px 0;
}

.theme-Dark .course_banner {
  background-color: rgba(255, 255, 255, 0.05);
  color: #bababa;
  margin-top: 0.833rem;
  margin-bottom: 0.833rem;
  padding: 10px 0;
}

.course_title {
  font-weight: bold;
  font-size: 1rem;
}

.course_padding {
  margin-bottom: 0.7rem;
}

.about_padding {
  padding: 5%;
}

.gallery_name {
  font-size: 1.3rem;
  padding: 0 3% 5%;
}

.theme-login .flash_panel {
  border-radius: 3px;
  background-color: #F0F0F0;
  -webkit-box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.07);
          box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.07);
  border: none;
  display: inline-block;
  position: relative;
  width: 100%;
  margin-top: 6%;
}

.theme-main .flash_panel {
  border-radius: 3px;
  background-color: #F4F4F4;
  -webkit-box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.07);
          box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.07);
  border: none;
  display: inline-block;
  position: relative;
  width: 100%;
  margin-top: 6%;
}

.theme-bluesTheme .flash_panel {
  border-radius: 3px;
  background-color: white;
  -webkit-box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.07);
          box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.07);
  border: none;
  display: inline-block;
  position: relative;
  width: 100%;
  margin-top: 6%;
}

.theme-Cloudy .flash_panel {
  border-radius: 3px;
  background-color: #FFFFFF;
  -webkit-box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.07);
          box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.07);
  border: none;
  display: inline-block;
  position: relative;
  width: 100%;
  margin-top: 6%;
}

.theme-OnceAMatadorAlwaysAMatador .flash_panel {
  border-radius: 3px;
  background-color: #F0F0F0;
  -webkit-box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.07);
          box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.07);
  border: none;
  display: inline-block;
  position: relative;
  width: 100%;
  margin-top: 6%;
}

.theme-Dark .flash_panel {
  border-radius: 3px;
  background-color: #303030;
  -webkit-box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.07);
          box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.07);
  border: none;
  display: inline-block;
  position: relative;
  width: 100%;
  margin-top: 6%;
}

.flash_positioner {
  margin-top: 100%;
}

.flash_element {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.profile_padding {
  padding: 5%;
}

@media only screen and (min-width: 600px) {
  .back_of_card {
    font-size: 1.8em;
    padding: 20% 6%;
  }
}

@media only screen and (max-width: 600px) {
  .back_of_card_mobile {
    font-size: 1.3em;
    padding: 20% 3%;
  }
}

/*Course Select Banner*/
.theme-login .tab__link {
  color: #464646;
  border-bottom: none;
}

.theme-main .tab__link {
  color: #464646;
  border-bottom: none;
}

.theme-bluesTheme .tab__link {
  color: #575757;
  border-bottom: none;
}

.theme-Cloudy .tab__link {
  color: #464646;
  border-bottom: none;
}

.theme-OnceAMatadorAlwaysAMatador .tab__link {
  color: #464646;
  border-bottom: none;
}

.theme-Dark .tab__link {
  color: #bababa;
  border-bottom: none;
}

.theme-login .tab__link--active {
  display: block;
  padding: 5px 20px;
  font-weight: normal;
  text-decoration: none;
  border-bottom: 5px solid;
}

.theme-main .tab__link--active {
  display: block;
  padding: 5px 20px;
  font-weight: normal;
  text-decoration: none;
  color: #4F9DA3;
  border-bottom: 5px solid #4F9DA3;
}

.theme-bluesTheme .tab__link--active {
  display: block;
  padding: 5px 20px;
  font-weight: normal;
  text-decoration: none;
  color: #4CA1DB;
  border-bottom: 5px solid #4CA1DB;
}

.theme-Cloudy .tab__link--active {
  display: block;
  padding: 5px 20px;
  font-weight: normal;
  text-decoration: none;
  color: #747474;
  border-bottom: 5px solid #747474;
}

.theme-OnceAMatadorAlwaysAMatador .tab__link--active {
  display: block;
  padding: 5px 20px;
  font-weight: normal;
  text-decoration: none;
  color: #E74A37;
  border-bottom: 5px solid #E74A37;
}

.theme-Dark .tab__link--active {
  display: block;
  padding: 5px 20px;
  font-weight: normal;
  text-decoration: none;
  color: #97B5D8;
  border-bottom: 5px solid #97B5D8;
}

.theme-Dark .toolBar__field {
  background: #424242;
  border: none;
}

.theme-Dark input, .theme-Dark select, .theme-Dark textarea {
  background: #424242;
  border: none;
}

.theme-login .menu {
  background-color: #D00D2D;
  color: white;
}

.theme-main .menu {
  background-color: #0F1821;
  color: white;
}

.theme-bluesTheme .menu {
  background-color: #0D3753;
  color: white;
}

.theme-Cloudy .menu {
  background-color: #747474;
  color: white;
}

.theme-OnceAMatadorAlwaysAMatador .menu {
  background-color: #D22030;
  color: white;
}

.theme-Dark .menu {
  background-color: #1D1D1D;
  color: white;
}

.col-xs-6 {
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important;
}

.theme-login .btn {
  background-color: #d00d2d;
  border: 2px solid transparent;
}

.theme-main .btn {
  background-color: #4F9DA3;
  color: #fff;
  border: 2px solid transparent;
}

.theme-bluesTheme .btn {
  background-color: #4CA1DB;
  color: #fff;
  border: 2px solid transparent;
}

.theme-Cloudy .btn {
  background-color: #FFC836;
  color: #4e4e4e;
  border: 2px solid transparent;
}

.theme-OnceAMatadorAlwaysAMatador .btn {
  background-color: #E74A37;
  color: #fff;
  border: 2px solid transparent;
}

.theme-Dark .btn {
  background-color: #426c96;
  color: #dadada;
  border: 2px solid transparent;
}

/*Login Styling*/
@media only screen and (max-width: 600px) {
  .loginContainer {
    margin: 0 15%;
  }
}

@media only screen and (min-width: 600px) {
  .loginContainer {
    margin: 0 25%;
  }
}

.loginContainer {
  position: fixed;
  right: 0;
  left: 0;
  top: 25%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.loginContainer_hide {
  opacity: 0;
  visibility: hidden;
}

.loginTitle {
  font-weight: 400;
  padding-bottom: 5px;
}

.loginButton {
  float: right;
}

.loginForm {
  border-radius: 100px !important;
  margin-bottom: 20px;
  opacity: 1;
}

::-webkit-input-placeholder {
  color: black;
  opacity: 0.7;
}

:-ms-input-placeholder {
  color: black;
  opacity: 0.7;
}

::-ms-input-placeholder {
  color: black;
  opacity: 0.7;
}

::placeholder {
  color: black;
  opacity: 0.7;
}

.login_load {
  position: fixed;
  text-align: center;
  width: 100%;
  top: 100%;
  display: inline-block;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  visibility: hidden;
}

.login_load_active {
  top: 35%;
  visibility: visible;
}

/*Navbar Styling*/
.logo_parent {
  text-align: center;
  -webkit-box-flex: 100%;
      -ms-flex: 100%;
          flex: 100%;
  margin-top: -5px;
}

.nav__header {
  position: absolute;
  top: 2px;
  left: 50px;
  font-size: 1.5rem;
  color: white;
}

.theme-login .csun_logo {
  width: 65px;
  height: 45px;
  background-image: white;
}

.theme-main .csun_logo {
  width: 65px;
  height: 45px;
  background-image: white;
}

.theme-bluesTheme .csun_logo {
  width: 65px;
  height: 45px;
  background-image: white;
}

.theme-Cloudy .csun_logo {
  width: 65px;
  height: 45px;
  background-image: white;
}

.theme-OnceAMatadorAlwaysAMatador .csun_logo {
  width: 65px;
  height: 45px;
  background-image: white;
}

.theme-Dark .csun_logo {
  width: 65px;
  height: 45px;
  background-image: white;
}

.theme-login .nomi_logo {
  width: 65px;
  height: 30px;
  border-left: 1px solid #ccc;
  padding-left: 8px;
  margin-left: 4px;
  margin-top: 2px;
}

.theme-main .nomi_logo {
  width: 65px;
  height: 30px;
  border-left: 1px solid #ccc;
  padding-left: 8px;
  margin-left: 4px;
  margin-top: 2px;
}

.theme-bluesTheme .nomi_logo {
  width: 65px;
  height: 30px;
  border-left: 1px solid #ccc;
  padding-left: 8px;
  margin-left: 4px;
  margin-top: 2px;
}

.theme-Cloudy .nomi_logo {
  width: 65px;
  height: 30px;
  border-left: 1px solid #ccc;
  padding-left: 8px;
  margin-left: 4px;
  margin-top: 2px;
}

.theme-OnceAMatadorAlwaysAMatador .nomi_logo {
  width: 65px;
  height: 30px;
  border-left: 1px solid #ccc;
  padding-left: 8px;
  margin-left: 4px;
  margin-top: 2px;
}

.theme-Dark .nomi_logo {
  width: 65px;
  height: 30px;
  border-left: 1px solid #ccc;
  padding-left: 8px;
  margin-left: 4px;
  margin-top: 2px;
}

.theme-login .settings_banner {
  margin-bottom: 1rem;
  padding: 0.2rem 0;
}

.theme-main .settings_banner {
  background: rgba(255, 255, 255, 0.5);
  margin-bottom: 1rem;
  padding: 0.2rem 0;
}

.theme-bluesTheme .settings_banner {
  background: rgba(255, 255, 255, 0.5);
  margin-bottom: 1rem;
  padding: 0.2rem 0;
}

.theme-Cloudy .settings_banner {
  background: rgba(255, 255, 255, 0.5);
  margin-bottom: 1rem;
  padding: 0.2rem 0;
}

.theme-OnceAMatadorAlwaysAMatador .settings_banner {
  background: rgba(0, 0, 0, 0.05);
  margin-bottom: 1rem;
  padding: 0.2rem 0;
}

.theme-Dark .settings_banner {
  background: rgba(255, 255, 255, 0.05);
  margin-bottom: 1rem;
  padding: 0.2rem 0;
}

.bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  width: 100%;
}

.theme-login .bottom-nav {
  background: #D00D2D;
}

.theme-main .bottom-nav {
  background: #0F1821;
}

.theme-bluesTheme .bottom-nav {
  background: #0D3753;
}

.theme-Cloudy .bottom-nav {
  background: #747474;
}

.theme-OnceAMatadorAlwaysAMatador .bottom-nav {
  background: #D22030;
}

.theme-Dark .bottom-nav {
  background: #1D1D1D;
}

.bottom-nav__button {
  color: rgba(255, 255, 255, 0.3);
  padding: 0.5rem 0;
}

.bottom-nav__button--disabled {
  color: rgba(0, 0, 0, 0.4);
  padding: 0.5rem 0;
}

.theme-main .course-card--selected {
  color: #4F9DA3;
}

.theme-bluesTheme .course-card--selected {
  color: #4CA1DB;
}

.theme-Cloudy .course-card--selected {
  color: #747474;
}

.theme-OnceAMatadorAlwaysAMatador .course-card--selected {
  color: #E74A37;
}

.theme-Dark .course-card--selected {
  color: #97B5D8;
}

#Matador {
  background-color: #d00d2d;
}

#Navy {
  background-color: #0f1821;
}

#Blues {
  background-color: #0d3753;
}

#Dark {
  background-color: #272727;
}

.theme-login .makeBlue {
  background-color: #D00D2D;
}

.theme-main .makeBlue {
  background-color: #0F1821;
}

.theme-bluesTheme .makeBlue {
  background-color: #0D3753;
}

.theme-Cloudy .makeBlue {
  background-color: #747474;
}

.theme-OnceAMatadorAlwaysAMatador .makeBlue {
  background-color: #D22030;
}

.theme-Dark .makeBlue {
  background-color: #1D1D1D;
}

.theme-main .accentColorBlue {
  background-color: #4F9DA3;
}

.theme-bluesTheme .accentColorBlue {
  background-color: #4CA1DB;
}

.theme-Cloudy .accentColorBlue {
  background-color: #747474;
}

.theme-OnceAMatadorAlwaysAMatador .accentColorBlue {
  background-color: #E74A37;
}

.theme-Dark .accentColorBlue {
  background-color: #97B5D8;
}

.theme-main .icon_theme {
  color: #4F9DA3;
}

.theme-bluesTheme .icon_theme {
  color: #4CA1DB;
}

.theme-Cloudy .icon_theme {
  color: #747474;
}

.theme-OnceAMatadorAlwaysAMatador .icon_theme {
  color: #E74A37;
}

.theme-Dark .icon_theme {
  color: #97B5D8;
}

.theme-login .nav-bars {
  background-color: #D00D2D;
  font-size: 1.1rem;
  font-family: sans-serif;
  color: #FFFFFF;
}

.theme-main .nav-bars {
  background-color: #0F1821;
  font-size: 1.1rem;
  font-family: helvetica;
  color: #E5E5E5;
}

.theme-bluesTheme .nav-bars {
  background-color: #0D3753;
  font-size: 1.1rem;
  font-family: sans-serif;
  color: #d9e7ee;
}

.theme-Cloudy .nav-bars {
  background-color: #747474;
  font-size: 1.1rem;
  font-family: sans-serif;
  color: #D8D8D8;
}

.theme-OnceAMatadorAlwaysAMatador .nav-bars {
  background-color: #D22030;
  font-size: 1.1rem;
  font-family: sans-serif;
  color: #FFFFFF;
}

.theme-Dark .nav-bars {
  background-color: #1D1D1D;
  font-size: 1.1rem;
  font-family: sans-serif;
  color: #272727;
}

.textOverflow {
  overflow-wrap: break-word;
  word-wrap: break-word;
}

.imagewrap {
  display: inline-block;
  position: relative;
  width: 60%;
}

.slidewrap {
  width: 55%;
  height: 45%;
}

.clearPadding {
  padding: 0;
}

.colorThemes {
  padding: 5%;
}

.colorTheme_item {
  padding: 5% 0;
  color: white;
  width: 100%;
  border: 2px solid transparent;
}

@media only screen and (max-width: 367px) {
  .student_list_name_mobile {
    font-size: 4vw;
  }
}

@media only screen and (min-width: 368px) {
  .student_list_name_mobile {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3rem;
  }
}

@media only screen and (min-width: 600px) {
  .student_list_name {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
  }
}

.cardText {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 4vh;
}

.center {
  margin-left: 7%;
  margin-right: 7%;
  margin-top: 7%;
  margin-bottom: 7%;
}

.back_button {
  color: white;
  position: absolute;
  left: 15px;
  -webkit-transition: 25ms;
  transition: 25ms;
  margin-top: -3.55px;
}

.back_button_disabled {
  color: rgba(255, 255, 255, 0.2);
  position: absolute;
  left: 15px;
  -webkit-transition: 25ms;
  transition: 25ms;
}

.back_button:active {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.subbrand_center {
  margin-left: 1%;
  padding-left: 1%;
  margin-right: 1%;
}

.margin_between_containers {
  margin-top: 7%;
}

.flash_card {
  padding: 5px !important;
}

.panel__edit-button {
  position: absolute;
  bottom: 25%;
  right: 15%;
  border-radius: 100%;
  padding: 5%;
  font-size: 150%;
  -webkit-box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.07);
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.07);
}

.theme-main .panel__edit-button {
  background-color: #4F9DA3;
  color: #ffffff;
}

.theme-bluesTheme .panel__edit-button {
  background-color: #fff;
  color: #2e88c5;
}

.theme-OnceAMatadorAlwaysAMatador .panel__edit-button {
  background-color: #fff;
  color: #808080;
}

.theme-Dark .panel__edit-button {
  background-color: #426c96;
  color: #dfe5ec;
}

.profile-edit-button {
  position: absolute;
  bottom: 0%;
  right: 0%;
  border-radius: 100%;
  padding: 5%;
  font-size: 150%;
  -webkit-box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.07);
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.07);
}

.theme-main .profile-edit-button {
  background-color: #4F9DA3;
  color: #ffffff;
}

.theme-bluesTheme .profile-edit-button {
  background-color: #fff;
  color: #2e88c5;
}

.theme-OnceAMatadorAlwaysAMatador .profile-edit-button {
  background-color: #fff;
  color: #808080;
}

.theme-Dark .profile-edit-button {
  background-color: #426c96;
  color: #dfe5ec;
}

@media only screen and (min-width: 370px) {
  .profile-edit-button {
    bottom: 5%;
    right: 25%;
    padding: 3%;
  }
}

.profile_edit-padding {
  padding: 5%;
}

.makeWhite {
  -webkit-filter: grayScale(0%);
          filter: grayScale(0%);
  -webkit-filter: grayScale(100%);
          filter: grayScale(100%);
}

.modal_exit {
  color: gray;
}

.name_container {
  height: 31vmin;
}

.card_face {
  float: inherit;
}

.email_padding {
  padding: 1em 0.5em 1em 0.5em;
}

.btn_padding {
  padding: 0.4em 0 0.4em 0;
}

.sort_filters {
  margin: 0 auto 10px;
}

.shuffle_button {
  position: fixed;
  z-index: 1;
  right: 20px;
  bottom: 9%;
  padding: 12px;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.text_bold {
  font-weight: bold;
}

.croppa_loading {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.3);
}

.croppa_loading_icon {
  position: absolute;
  top: 50%;
  left: 50%;
  color: rgba(255, 255, 255, 0.5);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.display_inline {
  display: inline;
}

.display_inline_block {
  display: inline-block;
}

.text_italic {
  font-style: italic;
}

.profile_info_container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 1.875rem;
  padding-right: 01.875rem;
}

.profile_notes_padding {
  padding-top: 2rem;
}

.modal_btn {
  display: inline-block;
  padding: 6px 20px;
  margin: 0 3%;
  font-family: "museo-sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.8;
  text-align: center;
  text-decoration: none;
  text-shadow: none;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 2px solid transparent;
  border-radius: 100%;
  height: 2.2em;
  width: 2.2em;
  margin: 0 0.6em;
}

.confirm_btn {
  color: green;
  border-color: #ccc;
  padding: 0;
}

.theme-login .confirm_btn {
  background: #F0F0F0;
}

.theme-main .confirm_btn {
  background: #F4F4F4;
}

.theme-bluesTheme .confirm_btn {
  background: white;
}

.theme-Cloudy .confirm_btn {
  background: #FFFFFF;
}

.theme-OnceAMatadorAlwaysAMatador .confirm_btn {
  background: #F0F0F0;
}

.theme-Dark .confirm_btn {
  background: #303030;
}

.confirm_btn:hover {
  color: green;
  border-color: #adadad;
  padding: 0;
}

.theme-login .confirm_btn:hover {
  background: #ccc;
}

.theme-main .confirm_btn:hover {
  background: #ccc;
}

.theme-bluesTheme .confirm_btn:hover {
  background: #ccc;
}

.theme-Cloudy .confirm_btn:hover {
  background: #ccc;
}

.theme-OnceAMatadorAlwaysAMatador .confirm_btn:hover {
  background: #dddddd;
}

.theme-Dark .confirm_btn:hover {
  background: #272727;
}

.decline_btn {
  color: red;
  border-color: #ccc;
  padding: 0;
}

.theme-login .decline_btn {
  background: #F0F0F0;
}

.theme-main .decline_btn {
  background: #F4F4F4;
}

.theme-bluesTheme .decline_btn {
  background: white;
}

.theme-Cloudy .decline_btn {
  background: #FFFFFF;
}

.theme-OnceAMatadorAlwaysAMatador .decline_btn {
  background: #F0F0F0;
}

.theme-Dark .decline_btn {
  background: #303030;
}

.decline_btn:hover {
  color: red;
  background-color: #e6e6e6;
  border-color: #adadad;
}

.theme-login .decline_btn:hover {
  background: #ccc;
}

.theme-main .decline_btn:hover {
  background: #ccc;
}

.theme-bluesTheme .decline_btn:hover {
  background: #ccc;
}

.theme-Cloudy .decline_btn:hover {
  background: #ccc;
}

.theme-OnceAMatadorAlwaysAMatador .decline_btn:hover {
  background: #dddddd;
}

.theme-Dark .decline_btn:hover {
  background: #272727;
}

.permission_footer {
  margin: 15% 0 5%;
  text-align: center;
}

.fullscreen_width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.mb_0 {
  margin-bottom: 0;
}

.theme-login textarea[type="text"]:focus {
  border: 3px solid;
}

.theme-main textarea[type="text"]:focus {
  border: 3px solid #4F9DA3;
}

.theme-bluesTheme textarea[type="text"]:focus {
  border: 3px solid #4CA1DB;
}

.theme-Cloudy textarea[type="text"]:focus {
  border: 3px solid;
}

.theme-OnceAMatadorAlwaysAMatador textarea[type="text"]:focus {
  border: 3px solid #92A1CD;
}

.theme-Dark textarea[type="text"]:focus {
  border: 3px solid #4277ac;
}

.theme-login .underlineStyling {
  border-bottom: 5px solid #FFFFFF;
}

.theme-main .underlineStyling {
  border-bottom: 5px solid #E5E5E5;
}

.theme-bluesTheme .underlineStyling {
  border-bottom: 5px solid #d9e7ee;
}

.theme-Cloudy .underlineStyling {
  border-bottom: 5px solid #D8D8D8;
}

.theme-OnceAMatadorAlwaysAMatador .underlineStyling {
  border-bottom: 5px solid #FFFFFF;
}

.theme-Dark .underlineStyling {
  border-bottom: 5px solid #272727;
}

.theme-login .underlineStyling--red {
  border-bottom: 5px solid;
}

.theme-main .underlineStyling--red {
  border-bottom: 5px solid #4F9DA3;
}

.theme-bluesTheme .underlineStyling--red {
  border-bottom: 5px solid #4CA1DB;
}

.theme-Cloudy .underlineStyling--red {
  border-bottom: 5px solid #747474;
}

.theme-OnceAMatadorAlwaysAMatador .underlineStyling--red {
  border-bottom: 5px solid #E74A37;
}

.theme-Dark .underlineStyling--red {
  border-bottom: 5px solid #97B5D8;
}

.underline {
  float: left;
  width: 30px;
  display: block;
}

.underlineContainer {
  width: 90px;
  display: inline-block;
  float: none;
  list-style-type: square;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding: 0px;
}

.addedUnderline {
  width: 100%;
  text-align: center;
  height: 0px;
}

.profile_image {
  margin: 0 auto;
}

.profile_email {
  margin-bottom: 10px;
}

.profile_email_text {
  text-decoration: underline;
  margin-left: 6px;
}

.notes__status {
  padding-right: 5px;
  opacity: .8;
  font-size: .9rem;
  vertical-align: top;
}

.notes__status--italic {
  font-style: italic;
}

.notes_text {
  resize: none;
  min-height: 100px;
  overflow: hidden;
  margin-bottom: 0 !important;
}

.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  -webkit-transition: opacity .3s ease;
  transition: opacity .3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  max-width: 20em;
  margin: 0px auto;
  padding: 1.5em 2em;
  border-radius: 2px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.33);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.33);
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.theme-login .modal-container {
  background: #F0F0F0;
}

.theme-main .modal-container {
  background: #F4F4F4;
}

.theme-bluesTheme .modal-container {
  background: white;
}

.theme-Cloudy .modal-container {
  background: #FFFFFF;
}

.theme-OnceAMatadorAlwaysAMatador .modal-container {
  background: #F0F0F0;
}

.theme-Dark .modal-container {
  background: #303030;
}

.modal-header h3 {
  margin-top: 0;
}

.theme-main .modal-header h3 {
  color: #4F9DA3;
}

.theme-bluesTheme .modal-header h3 {
  color: #4CA1DB;
}

.theme-Cloudy .modal-header h3 {
  color: #747474;
}

.theme-OnceAMatadorAlwaysAMatador .modal-header h3 {
  color: #E74A37;
}

.theme-Dark .modal-header h3 {
  color: #97B5D8;
}

.modal-body {
  margin: 20px 0;
}

.modal-default-button {
  float: right;
}

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
