.grid-container {
  display: grid;
  grid-column-gap: 5%;
  grid-row-gap: 5%;
  grid-template-columns: auto auto auto;
  margin: auto;
}

.grid-item {
  padding: 5%;
  height: 100%;
  width: 100%;
  text-align: center;
  -webkit-box-shadow: -1px 5px 9px 5px rgba(0, 0, 0, 0.2);
  box-shadow: -1px 5px 9px 5px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
}

.hide {
  display: none;
}

.panel {
  border-radius: 25px;
  border: 0px;
}

.mask {
  width: 20vh;
  height: 20vh;
  border-radius: 50%;
  overflow: hidden;
}

.hide {
  display: none;
}

.panel {
  border-radius: 25px;
}

.panel-heading {
  height: 60px;
}

.grid-image {
  width: 100%;
}

.card-title {
  height: 5em;
}

.menu-bar {
  background-color: #252525;
  padding: 10px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  background-color: #cf0a2c;
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  font-family: sans-serif;
  color: white;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.sidenav a:hover {
  color: white;
}

.sidenav .closebtn {
  position: absolute;
  bottom: 18px;
  right: 52px;
  font-size: 30px;
  margin-left: 50px;
}

