.grid-container {
  display: grid;
  grid-column-gap: 5%;
  grid-row-gap: 5%;
  grid-template-columns: auto auto auto;
  margin: auto;
}

.grid-item {
  padding: 5%;
  height: 100%;
  width: 100%;
  text-align: center;
  -webkit-box-shadow: -1px 5px 9px 5px rgba(0, 0, 0, 0.2);
  box-shadow: -1px 5px 9px 5px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
}

.hide {
  display: none;
}

.panel {
  border-radius: 25px;
  border: 0px;
}

.mask {
  width: 20vh;
  height: 20vh;
  border-radius: 50%;
  overflow: hidden;
}

.hide {
  display: none;
}

.panel {
  border-radius: 25px;
}

.grid-image {
  width: 100%;
}

.card-title {
  height: 5em;
}

.menu_slide_up_down {
  height: 0%;
  width: 100vw;
  position: fixed;
  z-index: 100;
  bottom: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

a.faculty-name:link,
a.faculty-name:active,
a.faculty-name:visited {
  color: white;
  text-decoration: none;
  font-size: 120%;
  font-family: sans-serif;
  margin: 0;
  cursor: pointer;
  text-align: center;
  font-weight: bold;
}

a.faculty-links:link,
a.faculty-links:active,
a.faculty-links:visited {
  color: white;
  text-decoration: none;
  font-size: 120%;
  font-family: sans-serif;
  margin: 0;
  cursor: pointer;
  padding: 0.5%;
  text-align: center;
}

a.faculty-links:hover {
  color: #4F9DA3;
}

.menu_container {
  height: 100%;
  padding: 3%;
  position: relative;
}

.menu_button {
  position: relative;
}

.menu_selections {
  position: relative;
}

.menu_bar {
  height: 8%;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.nav_title {
  color: white;
}

.faculty_image {
  height: 25%;
  width: 25%;
}

.menu__compensation {
  padding: 25px;
}

.list__item {
  background-color: white;
  padding: 20px;
  -webkit-box-shadow: -1px 5px 9px 5px rgba(0, 0, 0, 0.2);
  box-shadow: -1px 5px 9px 5px rgba(0, 0, 0, 0.2);
  margin: 0 0 5px 0;
  font-size: 125%;
}

.spacing {
  margin-bottom: 80px;
}

.centered-position {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.blue-green {
  background-color: #4F9DA3;
}

.off-white {
  background-color: #E5E5E5;
}

.light-grey {
  background-color: #F4F4F4;
}

.navy-blue {
  background-color: #0F1821;
}

.fa-3x {
  color: #f4f4f4;
  -webkit-transition: 20ms;
  transition: 20ms;
}

.fa-blue {
  color: #4F9DA3;
}

.fa-3x:active {
  color: #4F9DA3;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.student-banner {
  background: url("https://upload.wikimedia.org/wikipedia/commons/thumb/1/1d/CSUN_Central_Campus.JPG/1600px-CSUN_Central_Campus.JPG") center;
  position: relative;
  background-size: cover;
}

.banner__position {
  padding: 0px;
}

.style__picture {
  padding: 20%;
}

.default_padding {
  padding: 0%;
}

.course_title {
  padding-top: 2.5%;
  font-size: 125%;
  font-weight: bold;
}

.course_time {
  font-size: 120%;
  padding-top: 2%;
  padding-bottom: 5%;
}

.course_specifications {
  font-family: sans-serif;
  padding: 1%;
}

.course_list_title {
  font-size: 100%;
  font-weight: bold;
}

.course_list_time {
  font-size: 100%;
  padding-bottom: 2%;
}

.course_list_specifications {
  font-family: sans-serif;
  font-size: 80%;
}

