.grid-container {
  display: grid;
  grid-column-gap: 5%;
  grid-row-gap: 5%;
  grid-template-columns: auto auto auto;
  margin: auto;
}

.grid-item {
  padding: 5%;
  height: 100%;
  width: 100%;
  text-align: center;
}

.hide {
  display: none;
}

.panel {
  border-radius: 25px;
}

.crop {
  height: 200px;
}

.crop img {
  display: inline-block;
  position: relative;
  margin: auto;
  min-width: 200px;
  width: 70%;
}

.menu-bar {
  bottom: 0;
  position: fixed;
  width: 100vw;
  background-color: #b2b2b2;
  height: 100px;
}

