.grid-container {
  display: grid;
  grid-column-gap: 5%;
  grid-row-gap: 5%;
  grid-template-columns: auto auto auto;
  margin: auto 0;
}

.grid-item {
  padding: 10%;
  height: 300px;
  width: 400px;
  text-align: center;
}

.image-upload {
  display: none;
}

.panel {
  border-radius: 25px;
}

.crop {
  height: 200px;
  padding: 0;
}

.crop img {
  display: inline-block;
  position: relative;
  margin: auto;
  border-radius: 50%;
  width: 65%;
}

