.fun-counter {
    background-color: rgb(245, 245, 245);
    color: rgb(25, 25, 25);
    border: 2px solid rgb(45, 45, 45);
    padding: 0.25rem;
    position: absolute;
    top: 0;
    left: 0;

    & > * {
        text-align: left;
    }

    & h1 {
        font-size: 1rem;
        font-weight: bold;
    }

    & h2 {
        font-size: 1.15rem;
    }
}