.modal {
	&-mask {
		position: fixed;
		z-index: 9998;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, .5);
		display: table;
		transition: opacity .3s ease;
	}

	&__wrapper {
		display: table-cell;
		vertical-align: middle;
	}

	&__container {
		max-width: 20em;
		margin: 0px auto;
		border-radius: 16px;
		box-shadow: 0 1px 2px rgba(0, 0, 0, .33);
		transition: all .3s ease;
		@include themify($themes) {
		background: themed("panelColor");
		}
	}

	&-permission__container {
		box-shadow: 2px 3px 0 0 rgba(45, 45, 45, 0.75);
		width: 80%;
		max-width: 425px;
		padding: 1.5rem;
	}
	
	&-name {
		font-size: 1.15rem;
		width: 60%;
		margin: 0 auto;
		margin-top: 1.5rem;
		text-align: center;
		@include themify($themes){
		color: themed('accentColor');
		}
	}

	&-header {
		font-weight: bold;
		display: flex;
		justify-content: center;
		width: 100%;
	}

	&-default-button {
		float: right;
	}

	&-btn {
		display: inline-block;
		margin: 0 3%;
		font-size: 15px;
		font-weight: 500;
		line-height: 1.8;
		text-align: center;
		text-decoration: none;
		text-shadow: none;
		white-space: nowrap;
		vertical-align: middle;
		touch-action: manipulation;
		cursor: pointer;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		background-image: none;
		border: 2px solid transparent;
		border-radius: 100%;
		height: 2.2em;
		width: 2.2em;
		margin: 0 0.6em;
	}

	&-button {
		@include themify($themes) {
			color: themed('panelColor');
		}

		&__container {
			display: inline-block;
			padding: 5% 0;
			bottom: 0%;
			width: 50%;
			height: 30%;

			@include themify($themes){
				background-color: themed('accentColor');
			}
		}
	}

	&--exit {
		color: gray;
		margin-bottom: 0;
		margin-top: 2%;
		margin-left: 5%;
		margin-right: 2%;
		height: 10%;
	}

	&--adjust{
		height: 2em;
	}

	&--profile{
		padding: 0;
	}
}

.permission-footer {
	margin: 15% 0 5%;
	text-align: center;
}