.modal {
	&-mask {
		background-color: rgba(0, 0, 0, .5);
		box-sizing: border-box;
		display: flex;
		justify-content: center;
		align-items: center;
		position: fixed;
		width: 100%;
		height: 100%;
		z-index: 100;
		top: 0;
		left: 0;
	}
	
	&__container {
		position: relative;
		width: 75%;
		max-width: 315px;
		margin: 0 auto;
		margin-bottom: 2rem;
		border-radius: 16px;
		box-shadow: 0 1px 2px rgba(0, 0, 0, .33);
		transition: all 350ms ease-out;
		@include themify($themes) {
			background: themed("panelColor");
		}
	}

	&-permission__container {
		box-shadow: 2px 3px 0 0 rgba(45, 45, 45, 0.75);
		width: 80%;
		max-width: 425px;
		padding: 1.5rem;
	}
	
	&-name {
		font-size: 1.25rem;
		width: 75%;
		margin: 0 auto;
		margin-top: 1.5rem;
		text-align: center;
		@include themify($themes){
			color: themed('textColor');
		}
	}

	&-header {
		display: flex;
		justify-content: center;
		width: 100%;
	}

	&-footer {
		height: 3.8rem;
	}

	&-default-button {
		float: right;
	}

	&-btn {
		display: inline-block;
		margin: 0 3%;
		font-size: 15px;
		font-weight: 500;
		line-height: 1.8;
		text-align: center;
		text-decoration: none;
		text-shadow: none;
		white-space: nowrap;
		vertical-align: middle;
		touch-action: manipulation;
		cursor: pointer;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		background-image: none;
		border: 2px solid transparent;
		border-radius: 100%;
		height: 2.2em;
		width: 2.2em;
		margin: 0 0.6em;
	}

	&-functionality {
		display: flex;
	}

	&-button {
		@include themify($themes) {
			color: themed('panelColor');
		}

		&-photo {
			border-radius: 0 0 0 16px;
			@include themify($themes){
				border-right: 1px solid;
				border-color: themed('buttonText');
			}
		}

		&-confirm {
			border-radius: 0 0 16px 0;
			@include themify($themes){
				border-left: 1px solid;
				border-color: themed('buttonText');
			}
		}

		&__container {
			display: inline-block;
			padding: 5% 0;
			bottom: 0%;
			width: 50%;
			height: 30%;

			@include themify($themes){
				background-color: themed('accentColor');
			}

			&:hover {
				@include themify($themes){
					background-color: darken(themed('accentColor'), 8%);
				}
			}
		}
	}

	&--exit {
		position: absolute;
		padding: 0.70rem 0.8rem 0 0;
		top: 0;
		right: 0;
	}

	&--adjust{
		height: 2em;
	}

	&--profile{
		padding: 0;
	}
}

.permission-footer {
	margin: 15% 0 5%;
	text-align: center;
}

.VueCarousel-dot-container {
	& li {
		margin-top: 0 !important;
	}
}

.VueCarousel-dot > * {
	@include themify($themes){
		background-color: themed("selectionInactive") !important;
	}

	&:hover {
		@include themify($themes){
			background-color: darken(themed("selectionInactive"), 12%) !important;
		}		
	}
}

.VueCarousel-dot--active > * {
	@include themify($themes){
		background-color: themed("selectionActive") !important;
	}

	&:hover {
		@include themify($themes){
			background-color: darken(themed("selectionActive"), 12%) !important;
		}	
	}
}