.navbar {
	@include themify($themes) {
		background-color: themed("navigationBars");
		position: fixed;
		height: rem(37);
		width: 100%;
		z-index: 2;
		top: 0;

		&__sub-brand {
			color: themed("backgroundColor");
		}
	}

	&__header {
		position: absolute;
		top: 2px;
		left: 50px;
		font-size: 1.5rem;
		color: white;
		letter-spacing: 0.1rem;
	}
}

.feedback-button {
	position: absolute;
	right:2%;
	padding-right: 2%;
	padding-left: 2%;
	padding-top: 0.5%;
	padding-bottom: 0.5%;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	@include themify($themes) {
		background-color: themed("feedbackBtn");
		color: themed("buttonText");
	}
	@media only screen and (max-width: 699px){
		padding-top: 1%;
		padding-bottom: 1%;
	}
}

.back {
	&-button {
		color: white;
		position: absolute;
		left: 15px;
		transition: 25ms;
		margin-top: -3.55px;
	}
	
	&-button--disabled {
		color: rgba($color: #fff, $alpha: 0.2);
		position: absolute;
		left: 15px;
		transition: 25ms;
	}
	
	&-button:active {
		transform: scale(1.2);
	}
}

.bottom-nav {
	z-index: 4;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0;
	width: 100%;
	@include themify($themes) {
		background: themed("navigationBars");
	}

	&__button {
		color: rgba(255, 255, 255, 0.7);
		padding: .75rem 0 .5rem;
	
		&--active {
			color: rgba(255, 255, 255, 1);
			padding: .75rem 0 .5rem;
		}
		
		&--disabled {
			@include themify($themes) {
				color: themed("disabledBtnColor");
			}
			padding: .75rem 0 .5rem;
		}
	}
}