.sort-filters {
	margin: 0 auto 10px;
}

.shuffle-button {
	position: fixed;
	z-index: 1;
	right: 20px;
	bottom: 80px;
	padding: 12px;
	border-radius: 50%;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

// Student List
.flash {
	&__panel {
		@include themify($themes) {
			border-radius: 3px;
			background-color: themed("panelColor");
			box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.07);
			border: none;
			display: inline-block;
			position: relative;
			width: 100%;
			margin-top: 6%;
		}
	}

	&-card {
		padding: 5px !important;
	}
	
	&__positioner {
		margin-top: 100%;
	}
	
	&__element {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		padding: 4%;
	}
}

.roster {
	&-list__item {
		padding: .4rem 1rem;
		@include themify($themes) {
			background-color: themed("panelColor");
			border-bottom: 1px solid themed("backgroundColor")
		}
	}

	&__img {
		width: 100%;
	}

	&-sorting {
		display: flex;
		margin: 0.5rem 0;
		justify-content: center;
		align-items: center;
		
		&__button {
			width: 100%;
			margin: 0.5rem 0;
			@include themify($themes) {
				background-color: themed("panelColor") !important;
				color: themed("textColor") !important;
			}
			&--selected {
				width: 100%;
				margin: 0.5rem 0;
				@include themify($themes) {
					background-color: themed("buttonColor") !important;
					color: themed("buttonText") !important;
				}
			}
		}

		&-container {
			width: 100%;
		}

		&__sort {
			height: 34px;
			width: 40px;
			padding: 0.2rem;
			margin-left: 4px;
			@include themify($themes) {
				background-color: themed("panelColor") !important;
				color: themed("textColor") !important;
			}
		}

		&__sort {
			& * {
				height: 100%;
				width: 100%;
				@include themify($themes) {
					fill: themed("textColor") !important;
				}
			}
		}

		&__name {
			padding: 0.4rem 1rem;
			display: inline-block;
			@include themify($themes) {
				background-color: themed("panelColor");
				color: themed("textColor");
			}
			&--selected {
				display: inline-block;
				padding: 0.4rem 1rem;
				@include themify($themes) {
					background-color: themed("buttonColor");
					color: themed("buttonText");
				}
			}
		}
	}
}

// Gallery Card

.gallery {
	&__layout {
		display: flex;
		flex-flow: row wrap;
		justify-content: flex-start;
	}

	&-card {
		margin-bottom: 1rem;

		&__content {
			height: 100%;
		}
	}

	&__name {
		font-size: 1.3rem;
		padding: 0 3% 5%;
	}
}

.card {
	&-text {
		font-size: 4vh;
	}
	
	&-face {
		float: inherit;
	}
}

@media only screen and (min-width: 600px) {
	.back-of-card {
		font-size: 1.8em;
		padding: 20% 6%;
	}
}

@media only screen and (max-width: 600px) {
	.back-of-card-mobile {
		font-size: 1.3em;
		padding: 20% 3%;
	}
}

// Student Profile Page
.profile {
	&_image {
		margin: 0 auto;
	}

	&_email {
		margin-bottom: 10px;
	}

	&_email_text {
		text-decoration: underline;
		margin-left: 6px;
	}

	&-carousel__edit-padding {
		padding: 5%;
	}

	&-carousel__default-btn {
		margin-top: rem(10);
	}

	&-info-container {
		margin-left: auto;
		margin-right: auto;
		padding-left: 1.875rem;
		padding-right: 01.875rem;
	}
	
	&-notes-padding {
		padding-top: 1rem;
	}
	
	&__img{
		width: 100%;
		border-color: white;
		border-style: solid;
		border-width: thin;
	}
	&__edit-container{
		display:block;
		position: relative;
	}
	
	&-carousel__edit {
		z-index: 2;
		position: absolute;
		border-radius: 100%;
		font-size: 1.8em;
		-webkit-box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.07);
		box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.07);

		@include themify($themes) {
			background-color: themed("galleryBtnBg");
			color: themed("galleryBtnText");
		}

		@media only screen and (max-width: 400px) {
			bottom: 40%;
			right: 15%;
			padding: 4%;
		}

		@media only screen and (min-width: 400px) and (max-width: 600px) {
			bottom: 40%;
			right: 26%;
			padding: 3%;
		}

		@media only screen and (min-width: 600px) and (max-width: 750px) {
			bottom: 40%;
			right: 28%;
			padding: 3%;
		}

		@media only screen and (min-width: 750px) and (max-width: 1000px) {
			bottom: 40%;
			right: 32%;
			padding: 3%;
		}

		@media only screen and (min-width: 1000px) {
			bottom: 30%;
			right: 37%;
			padding: 2%;
		}
	}

	&__name {
		font-weight: bold;
		color: white;
	}

	&__name-container {
		display: block;
    	padding-top: 50%;
	}

	&-pic-container {
		margin-left: auto;
		margin-right: auto;
		padding-left: 1.875rem;
		padding-right: 01.875rem;
		display: flex;
	}
	
	&__color-layer {
		position: relative;
		@include themify($themes) {
			background-color: themed("navigationBars");
		}
	}

	&__divider {
		display: inline-block;
		position: relative;
		box-sizing: border-box;
	}
}

.notes {
	&_text {
		resize: none;
		min-height: 100px;
		overflow: hidden;
		margin-bottom: 0 !important;
	}
	
	&__status {
		padding-right: 5px;
		opacity: 0.8;
		font-size: 0.9rem;
		vertical-align: top;
	}
	
	&__status--italic {
		font-style: italic;
	}
}

.image-wrap {
	display: inline-block;
	position: relative;
	width: 60%;
}


.slide-wrap {
	width: 55%;
	height: 45%;
	padding: 7%;
}

.student_list_first_name_mobile {
	font-weight: bold; 
	@media only screen and (max-width: 367px) {
		font-size: 5vw;
	}

	@media only screen and (min-width: 368px) {
		font-size: 2rem;
	}
}

.student_list_last_name_mobile {
	@media only screen and (max-width: 367px) {
		font-size: 4vw;
	}
	@media only screen and (min-width: 368px) {
		font-size: 1.3rem;
	}
}

@media only screen and (min-width: 600px) {
	.student_list_first_name {
		font-weight: bold; 
		font-size: 2.1rem;
	}
	.student_list_last_name {
		font-size: 2rem;
	}
}

// Croppa
.croppa {
	&-loading {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		height: 100%;
		width: 100%;
		z-index: 2;
		background-color: rgba($color: #000000, $alpha: 0.3);
	}

	&-loading_icon {
		position: absolute;
		top: 50%;
		left: 50%;
		color: rgba($color: #fff, $alpha: 0.5);
		transform: translate(-50%, -50%);
	}

	&-container {
		@include themify($themes){
			color: themed('panelColor');
		}
	}
}

.fullscreen-width {
	width: 100%;
	position: relative;
	left: 50%;
	right: 50%;
	margin-left: -50%;
	margin-right: -50%;
}
