.bg--blue-green {
    background-color: #4F9DA3;
}

.bg--off-white {
    background-color:#E5E5E5;
}

.bg--light-grey {
    background-color:#F4F4F4;
}

.bg--navy-blue {
    background-color:#0F1821;
}

.blue-green {
    color: #4F9DA3;
}

.off-white {
    color:#E5E5E5;
}

.light-grey {
    color:#F4F4F4;
}

.navy-blue {
    color:#0F1821;
}
