
.grid-container {
  display: grid;
  grid-column-gap: 5%;
  grid-row-gap: 5%;
  grid-template-columns: auto auto auto;
  margin: auto 0;
}

.grid-item {
  padding: 10%;
  height: 300px;
  width: 400px;
  text-align: center;
}


