.makeBlue{
  @include themify($themes){
      background-color: themed('bars');
  }
}

.buttonPressBlue{
  @include themify($themes){
      background-color: themed('buttonpress');
  }
}

.fa-blue{
  @include themify($themes){
      color: themed('buttonpress');
  }
}

.nav-bars {
  @include themify($themes) {
      background-color: themed('bars');
      font-size: themed('mainFontSize');
      font-family: themed('mainFontFamily');
      color: themed('looksGray'); 
  }
}

.textOverflow{ 
  word-break: break-all;
}


.imagewrap {
  display:inline-block;
  position:relative;
  width: 60%;
}

.slidewrap{
  width: 55%;
  height:45%;
}

.clearPadding{
  padding: 0;
}

.student_list_name {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
}

.center {
  margin-left:  7%;
  margin-right: 7%;
  margin-top: 7%;
  margin-bottom: 7%;
}

.back_button {
  position: absolute;
  left: 15px;
  transition: 25ms;
}

.back_button:active {
  transform: scale(1.2);
}

.margin_between_containers{
  margin-top: 7%;
}
.matchText{
  color: white;
  text-decoration: none;
  font-size: 125%;
  font-family: sans-serif;
  margin: 0;
  cursor: pointer;
  padding: 1%;
  text-align: center
}