.makeBlue{
  @include themify($themes){
      background-color: themed('bars');
  }
}

.buttonPressBlue{
  @include themify($themes){
      background-color: themed('buttonpress');
  }
}

.fa-blue{
  @include themify($themes){
      color: themed('buttonpress');
  }
}

.nav-bars {
  @include themify($themes) {
      background-color: themed('bars');
      font-size: themed('mainFontSize');
      font-family: themed('mainFontFamily');
      color: themed('looksGray'); 
  }
}

.textOverflow{ 
  overflow-wrap: break-word;
  word-wrap: break-word;
}

// .cardOverflow{
//   white-space: wrap;
//   width: 95px;
// }


.imagewrap {
  display:inline-block;
  position:relative;
  width: 60%;
}

.slidewrap{
  width: 55%;
  height:45%;
}

.clearPadding{
  padding: 0;
}

.colorTheme_list_item {
  padding-top: 5%;
  padding-bottom: 5%;
  color: white;
}
.student_list_name {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
}

.cardText {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 4vh;
}

.center {
  margin-left:  7%;
  margin-right: 7%;
  margin-top: 7%;
  margin-bottom: 7%;
}

.back_button {
  color: white;
  position: absolute;
  left: 15px;
  transition: 25ms;
}

.back_button:active {
  transform: scale(1.2);
}

.subbrand_center {
  margin-left: 1%;
  padding-left: 1%;
  margin-right: 1%;
}

.margin_between_containers{
  margin-top: 7%;
}

.card {
  height: 60vw;
  padding: 5px !important;

}

.editButton {
  float:right;
  padding-top: 2%;
  padding-bottom: 5%;
  color: gray;
}

.makeWhite{
   filter: grayScale(0%);
   filter: grayScale(100%);
}
.modal_exit{
  color: gray;
}

.hello{
  font-size: 3vh;
}

.name_container{
  height: 5em;
}