:focus{
	outline: none !important;
}

textarea[type="text"] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 12px;
	box-sizing: border-box;
}

textarea[type="text"]:focus {
	border: 3px solid lightblue;
}

textarea[type="text"]:focus{
	@include themify($themes) {
		border: 3px solid themed("focusColor");
	}
}

.icon__theme {
	@include themify($themes) {
		color: themed("accentColor");
	}
}

.text-overflow {
	overflow-wrap: break-word;
	word-wrap: break-word;
}

.center {
	margin-left: 7%;
	margin-right: 7%;
	margin-top: 7%;
	margin-bottom: 7%;
}

.margin-between-containers {
	margin-top: 7%;
}

.panel__edit-button {
	position: absolute;
    bottom: 5%;
    right: 15%;
	border-radius: 100%;
    padding: 5%;
    font-size: 150%;
    -webkit-box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.07);
	box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.07);
	@include themify($themes) {
		background-color: themed("galleryBtnBg");
		color: themed("galleryBtnText");
	}
}

.text-bold {
	font-weight: bold;
}

.display-inline {
	display: inline;
}

.display-inline-block {
	display: inline-block;
}

.text_italic {
	font-style: italic;
}

.confirm-btn {
	@include themify($themes) {
		background: themed("panelColor");
	}
	color: green;
	border-color: #ccc;
	padding: 0;
}

.confirm-btn:hover {
@include themify($themes) {
    background: themed("hoverColor");
	}
	color: green;
	border-color: #adadad;
	padding: 0;
}

.decline-btn {
	@include themify($themes) {
    	background: themed("panelColor");
	}
	color: red;
	border-color: #ccc;
	padding: 0;
}

.decline-btn:hover {
	@include themify($themes) {
		background: themed("hoverColor");
	}
	color: red;
	background-color: #e6e6e6;
	border-color: #adadad;
}

.fullscreen-width {
	width: 100vw;
	position: relative;
	left: 50%; 
	right: 50%;
	margin-left: -50vw;
	margin-right: -50vw;
}

.mb-0 {
	margin-bottom: 0;
}

.img--fluid-custom{
	display: block;
	height: auto;
	padding: 5%;
	margin: 0 auto;
}