:focus{
	outline: none !important;
}

textarea[type="text"] {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 12px;
	box-sizing: border-box;
}

textarea[type="text"]:focus {
	border: 3px solid lightblue;
}

textarea[type="text"]:focus{
	@include themify($themes) {
		border: 3px solid themed("focusColor");
	}
}

.icon__theme {
	@include themify($themes) {
		color: themed("accentColor");
	}
}

.nomi-logo {
	&--loading {
		animation: logoAnimation 1500ms infinite;
		width: 100px;
		@keyframes logoAnimation {
			15% {width: 125px; transform: rotate(-25deg);}
			30% {transform: rotate(20deg);}
			45% {transform: rotate(-12deg);}
			60% {transform: rotate(8deg);}
			75% {transform: rotate(-4deg);}
			90% {transform: rotate(2deg);}
		}
	}

	&--bored {
		animation: nomi 2500ms infinite;
		@keyframes nomi {
			0% {background-color: orange};
			25% {background-color: red};
			50% {background-color: green};
			75% {background-color: blue};
			100% {background-color: yellow};
		}
	}
}

.text-overflow {
	overflow-wrap: break-word;
	word-wrap: break-word;
}

.center {
	margin-left: 7%;
	margin-right: 7%;
	margin-top: 7%;
	margin-bottom: 7%;
}

.clearfix::after{
    display:block;
    clear:both;
    content:""
}

.margin-between-containers {
	margin-top: 7%;
}

.panel__edit-button {
	position: absolute;
    bottom: 5%;
	right: 15%;
    padding: 5%;
	border-radius: 100%;
    font-size: 150%;
    -webkit-box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.07);
	box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.07);
	@include themify($themes) {
		background-color: themed("galleryBtnBg");
		color: themed("galleryBtnText");
	}

	&--profile{
		@include themify($themes) {
			background-color: themed("galleryBtnBg");
			color: themed("galleryBtnText");
		}
		position: absolute;
    	bottom: 20%;
		left: 75%;
    	padding: 4%;
		border-radius: 100%;
    	font-size: 120%;
    	-webkit-box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.07);
		box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.07);
		
		@media only screen and (max-width: 345px){
			bottom: 30%;
		}

	}
}

.text-bold {
	font-weight: bold;
}

.text-size--full {
	font-size: 100%;
}

.text-size--large {
	font-size: 80%;
}

.text-size--medium {
	font-size: 60%;
}

.text-size--small {
	font-size: 30%;
}

.display-inline {
	display: inline;
}

.display-inline-block {
	display: inline-block;
}

.text_italic {
	font-style: italic;
}

.confirm-btn {
	@include themify($themes) {
		background: themed("staleColor");
	}
	color: green;
	border-color: #ccc;
	padding: 0;
}

.confirm-btn:hover {
@include themify($themes) {
    background: themed("hoverColor");
	}
	color: green;
	border-color: #adadad;
	padding: 0;
}

.decline-btn {
	@include themify($themes) {
    	background: themed("staleColor");
	}
	color: red;
	border-color: #ccc;
	padding: 0;
}

.decline-btn:hover {
	@include themify($themes) {
		background: themed("hoverColor");
	}
	color: red;
	background-color: #e6e6e6;
	border-color: #adadad;
}

.fullscreen-width {
	width: 100%;
	position: relative;
	left: 50%; 
	right: 50%;
	margin-left: -50%;
	margin-right: -50%;
}

.mb-0 {
	margin-bottom: 0;
}

.no-click {
	pointer-events: none;
}

.img--fluid-custom{
	display: block;
	height: auto;
	padding: 5%;
	margin: 0 auto;
}

.upload-bar{
	@include themify($themes) {
		background-color: themed("buttonColor");
		color: themed("buttonText");
	}
	display: block;
	padding: 10px 20px;
	font-size: 1rem;
	line-height: inherit;
	text-decoration: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-color: #e7e7e7;
	outline: 0;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;

	&--normal{
		position: relative;
	}
	&--sticky{
		z-index: 1;
		position: sticky;
		top: rem(37);
	}
}