body {
  @include themify($themes) {
    background-color: themed("looksGray");
    padding-top: 45px;
  }
}

html * {
  @include themify($themes) {
    font-size: themed("mainFontSize");
    font-family: themed("mainFontFamily");
    color: themed("looksGray");
  }
}

textarea[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

textarea[type="text"]:focus {
  border: 3px solid lightblue;
}

.primary-nav {
  @include themify($themes) {
    background-color: themed("bars");
    width: 100%;
    top: 0%;
    position: fixed;

    .primary-nav__sub-brand {
      color: themed("looksGray");
    }
  }
}

.panel {
  @include themify($themes) {
    border-radius: 3px;
    background-color: themed("offWhite");
    box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, .07);
    padding: 20px;
    border: none;

    .panel__img {
      height: auto;
      background-color: themed("offWhite");
    }
    .panel__header {
      font-weight: bold;
      border-bottom: 0;
    }
  }
}

.panel_content {
  height: 100vh;
}

.tab__link {
  @include themify($themes) {
    border-bottom: 5px solid themed("looksGray");
    color: themed("bars");
    background-color: themed("looksGray");
  }
}

.tab__link--active {
  @include themify($themes) {
    display: block;
    padding: 10px 20px;
    font-weight: normal;
    text-decoration: none;
    color: themed("bars");
    border-bottom: 5px solid themed("bars");
  }
}

.fa {
  @include themify($themes) {
    color: themed("white");
  }
}

//font awesome icon and menu
.menu {
  @include themify($themes) {
    background-color: themed("bars");
    color: white;
  }
}

.col-xs-6 {
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important;
}

.btn {
  @include themify($themes) {
    background-color: themed("buttonColor");
  }
}

.sr-only {
  @include themify($themes) {
    color: themed("white");
  }
}

.logo_parent{
  text-align: center;
  flex: 100%;
}

.csun_logo {
  @include themify($themes) {
    width: 75px;
    height: 45px;
    background-image: white;
  }
}

.nomi_logo {
  @include themify($themes) {
    width: 75px;
    height: 37px;
    border-left: 1px solid #ccc;
    padding-left:8px;
    margin-left: 4px;
  }
}

//theme colors in list
#Matador {
  background-color: #d00d2d;
}

#Navy {
  background-color: #0f1821;
}

#Blues {
  background-color: #0d3753;
}

#Cloudy {
  background-color: #747474;
}
