html * {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	@include themify($themes) {
		font-size: themed("mainFontSize");
		color: themed("backgroundColor");
	}
}

body {
	@include themify($themes) {
		background-color: themed("backgroundColor");
		color: themed("textColor");
		padding-top: rem(36);
	}
	margin-bottom: 10%;
}

.panel {
	@include themify($themes) {
		border-radius: 3px;
		background-color: themed("panelColor");
		box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.07);
		border: none;
		margin-bottom: 1rem;

		&__img {
			height: auto;
			background-color: themed("panelColor");
		}

		&__container {
			margin-bottom: 0.4rem;
		}

		&__item {
			width: 100%;
			margin: 0;
		}

		&__header {
			padding-bottom: 2.5rem;
			font-weight: bold;
		}
	}

	&__wrapper {
		position: relative;
	}

	&__listing {
		margin: 0 auto;
	}

	@media only screen and (max-width: 543px) {
		&__header {
			border-bottom: solid 1px rgba(90, 90, 90, 0.2);
		}
	
		&__content {
			padding: 0.5rem 1rem;
			line-height: 1.7rem;
		}
		&__icon {
			padding-right: .5rem;
			padding-left: .5rem;
		}
	}
}

.tab {
	&__link {
		@include themify($themes) {
			color: themed("textColor");
			border-bottom: none;
		}

		&--hover:hover {
			@include themify($themes) {
				box-shadow: 0 -5px 0 0 inset themed("altAccent");
			}
		}
	}

	&__link-alt {
		@include themify($themes) {
			display: block;
			padding: 5px 20px;
			font-weight: normal;
			text-decoration: none;
			color: themed("textColor");
			border-bottom: 5px solid themed("altAccent");
		}

		&:hover {
			@include themify($themes) {
				border-bottom: 5px solid darken(themed("altAccent"), 12%);
			}
		}
	}
	
	&__link--kerning {
		letter-spacing: 0.1rem;
	}
	
	&__link--active {
		@include themify($themes) {
			display: block;
			padding: 5px 20px;
			font-weight: normal;
			text-decoration: none;
			color: themed("accentColor");
			border-bottom: 5px solid themed("accentColor") !important;
		}
	}
}

.line-break {
	background-color: rgba(160, 160, 160, 0.2);
	box-shadow: none;
	font-weight: normal;
	margin-bottom: 0.75rem;
	width: 100%;
	height: 0.1rem;
}

input,
select,
textarea {
	@include themify($themes) {
		background: themed("inputColor");
		border: themed("inputBorder");
	}
}

.col-xs-6 {
	padding-left: 0.5rem !important;
	padding-right: 0.5rem !important;
}

.btn {
	@include themify($themes) {
		background-color: themed("buttonColor");
		color: themed("buttonText");
		border: 2px solid transparent;
	}

	&-default:hover {
		@include themify($themes) {
			background-color: darken(themed("buttonColor"), 8%);
			color: themed("buttonText");
		}
	}
}

.btn {
	border-radius: 5px;
}