.list__item{
  background-color: white;
  padding: 20px;
  -webkit-box-shadow: -1px 5px 9px 5px rgba(0,0,0,0.2);
  box-shadow: -1px 5px 9px 5px rgba(0,0,0,0.2);
  margin: 0 0 5px 0;
  font-size: 125%;
}

textarea[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  
}

textarea[type=text]:focus{
  border: 3px solid lightblue;
}