// Global
.login {
	display: none;
}

.loginTitle {
	font-size: 1.5rem;
	font-weight: 400;
	padding-bottom: 5px;
}

.loginButton {
	float: right;
}

.loginForm {
	border-radius: 100px !important;
	margin-bottom: 20px;
	opacity: 1;
}

// Desktop and Tablet View
#login {
	position: absolute;
	height: 100vh;
	width: 100vw;
	overflow: auto;
	z-index: 99;
	top: 0;
	left: 0;
}

#loginLogo {
	position: relative;
	margin: 0 auto;
	width: 100%;
}

.loginLoader {
	position: relative;
	padding-left: 2.5%;
	top: -2.75rem;
	display: none;
}

.loginLoader--active {
	display: block;
}

#loginInput {
	padding-top: 1rem;
}

#loginBranding {
	position: absolute;
	padding: 1rem 3rem;
	right: 8%;
	height: 100%;
	width: 25%;
}

#csunLogo {
	position: absolute;
	bottom: 3%;
}

#filter {
	background-image: url("./../../public/images/blur.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-color: rgba(235, 235, 235, 0.8);
	position: absolute;
	height: 100%;
	width: 100%;
	filter: grayscale(50%) opacity(60%) contrast(70%);
}

#backgroundImage {
	background-repeat: no-repeat;
	background-size: cover;
}

#panel {	
	background-color: rgb(97, 108, 112);
	position: relative;
	display: flex;
	height: 100%;
	width: 100%;

	&__right {
		background-image: url(./../../public/images/desktop-background.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		display: flex;
		position: fixed;
		justify-content: center;
		top: 0;
		right: 0;
		height: 100%;
		width: 85.42%;
		max-width: 1509px;
	}

	&__left {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 43.44%;
	}

	&__content {
		height: 100%;
		width: 66.12%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-content: center;
		margin: 0 auto;
	}

	&__login {
		position: absolute;
		right: 0;
		z-index: 105;
		height: 100%;
		width: 67.13%;
	}
}

@media only screen and (min-width: 946px) {
    #login {
        display: block;
    }
}


// Mobile View
@media only screen and (max-width: 945px) {
    #login-mobile {
		display: block;
		background-color: white;
		position: absolute;
		height: 100vh;
		width: 100vw;
		overflow: hidden;
		z-index: 99;
		top: 0;
		left: 0;
	}

	#loginLogo {
		width: 97.5%;
		padding: 0 2.5% 15% 2.5%;
	}

	#loginInput {
		padding-bottom: 3rem;
	}
	
	.loginContainer {
		transition: 0.3s;
	}

	.loginContainer--hide {
		opacity: 0;
		visibility: hidden;
	}

	.loginLoader {
		position: absolute;
		top: 100%;
		left: 0;
		text-align: center;
		width: 100%;
		display: inline-block;
		transition: 0.4s;
		visibility: hidden;
	}
	
	.loginLoader--active {
		top: 55%;
		visibility: visible;
	}
}
