// new css

.menu {
  z-index: 1;
  background-color: #111;
  overflow: hidden;
  transition: 0.5s;
  margin: 0;
  padding: 0;
  position: fixed;
  bottom: 0;
  height: 8%;
  width: 100%;
}


.menu_links {
    color: white;
    text-decoration: none;
    font-size: 95%;
    font-family: sans-serif;
    margin: 0;
    text-decoration: none;
    text-align: center;
    padding: .25% .25% .25% .25%;
    display: block;
    transition: 0.3s;
}

.faculty_links{
  color: white;
  text-decoration: none;
  font-size: 95%;
  font-family: sans-serif;
  font-weight: bold;
  margin: 0; 
  padding: 1%;
  text-align:center;
  display: block;
  transition: 0.3s;
}


.menu a:hover {
  color: #f1f1f1;
}

.extra_padding{
  padding-bottom: 5%;
}

.menu .closebtn {
  position: absolute;
  top: 0;
}

.height_fix{
  height: 30vh;
  display: inline-block;
}