.student-banner{
  background: url("https://upload.wikimedia.org/wikipedia/commons/thumb/1/1d/CSUN_Central_Campus.JPG/1600px-CSUN_Central_Campus.JPG") center;
  position: relative;
  background-size: cover;
}
.banner__position{
  padding: 0px;
}

.style__picture{
  padding: 20%;
}

.default_padding{
  padding: 0%;
}


