.student-banner{
  background: url("https://upload.wikimedia.org/wikipedia/commons/thumb/1/1d/CSUN_Central_Campus.JPG/1600px-CSUN_Central_Campus.JPG") center;
  position: relative;
  background-size: cover;
}
.banner__position{
  padding: 0px;
}

.style__picture{
  padding: 20%;
}

.default_padding{
  padding: 0%;
}
.save_button {
  background-color:  #4F9DA3;
  border: none;
  color: white;
  padding: 8%, 10%;  
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: auto;
  cursor: pointer;
}

.space_btwn_components {
  padding-top: 2%;
}

.profile_info {
 font-size: 124%;

}

