.sidebar {
  height: 0%;
  width: 100vw;
  position: fixed;
  z-index: 100;
  bottom: 0;
  transition: 0.5s;
}

 a.faculty-links:link, a.faculty-links:hover, a.faculty-links:active, a.faculty-links:visited {
  color: white;
  text-decoration: none;
  font-size: 125%;
  font-family: sans-serif;
  margin: 0; 
  cursor: pointer;
  padding: 1%;
  text-align:center;
}
a.faculty-links:hover{
  color:#4F9DA3;
}

.sidebar_container {
  height:100%;
  padding: 5%; 
  position: relative;
}

.close {
  position: absolute;
  bottom: 0;
  right:49%;
}

.menu {
  position: relative;
}


