.sidenav {
  height: 0%;
  width: 100vw;
  position: fixed;
  z-index: 100;
  bottom: 0;
  transition: 0.5s;
}

.text {
  color: white;
  font-size: 125%;
  font-family: sans-serif;
  margin: 0; 
  cursor: pointer;
  padding: 1%;
}

.menu {
  height:100%;
  margin: 0;
  padding: 5%; 
}

.close {
  position: relative;
  bottom: 0;
  padding-top:10%;
}

