.underlineStyling{
    @include themify($themes) {
        border-bottom:  5px solid themed('looksGray');
    }
  }
.underlineStyling--red{
  @include themify($themes) {
    border-bottom:  5px solid themed('buttonpress');
  }
}

.underline{
    float: left;
    width: 30px;
    display: block;
  }
.underlineContainer{
    width: 90px;
    display: inline-block;
    float: none;
    list-style-type: square;
    box-sizing: content-box;
    padding: 0px;
  }
.addedUnderline{
    width: 100%;
    text-align: center;
    height: 0px;
}

.profile_email{
  cursor: pointer;
  margin-bottom: 10px;
}

.profile_email_text{
  text-decoration: underline;
  margin-left: 6px;
}