$themes: (
  main: (
    navigationBars: #0F1821,
    backgroundColor: #E5E5E5,
    textColor: #000,
    panelColor: #F4F4F4,
    accentColor: #4F9DA3,
    buttonColor: #4F9DA3,
    buttonText: #fff,

    mainFontSize: 1.1rem,
	  mainFontFamily: helvetica,
  ),

  bluesTheme: (
    navigationBars: #0D3753,
    backgroundColor: #d9e7ee,
    textColor: #000,
    panelColor: white,
    accentColor: #4CA1DB,
    buttonColor: #4CA1DB,
    buttonText: #fff,

    mainFontSize: 1.1rem,
    mainFontFamily: sans-serif,
  ),

  Cloudy: (
    navigationBars: #747474,
    backgroundColor: #D8D8D8,
    textColor: #000,
    panelColor: #FFFFFF,
    buttonColor: #FFC836,
    buttonText: #000,
    accentColor: #747474,

    mainFontSize: 1.1rem,
    mainFontFamily: sans-serif,
  ),

  OnceAMatadorAlwaysAMatador: (
    navigationBars: #D00D2D,
    backgroundColor: #FFFFFF,
    textColor: #000,
    panelColor: #F0F0F0,
    buttonColor: #FFC836,
    buttonText: #000,
    accentColor: #FFC836,

    mainFontSize: 1.1rem,
    mainFontFamily: sans-serif,
  ),

  Dark: (
    navigationBars: #272727,
    backgroundColor: #303030,
    textColor: rgb(164, 199, 199),
    panelColor: #202020,
    buttonColor: #2F557B,
    buttonText: rgb(164, 199, 199),
    accentColor: #2F557B,

    mainFontSize: 1.1rem,
    mainFontFamily: sans-serif,
  )
  
);

@mixin themify($themes: $themes) {
  @each $theme, $map in $themes {

    .theme-#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge($theme-map, ($key: $value)) !global;
      }

      @content;
      $theme-map: null !global;
    }

  }
}

@function themed($key) {
  @return map-get($theme-map, $key);
}